

.main-div{
  background-color: #1877f2;
  color: white;
  margin-bottom: 50px ;
  height: 50px;
  font-size: 20px;
}

.blog-handler{
  background-color: rgb(27, 15, 169);
  margin: 5px;

}

.bloglist {
    color: white;
    margin-bottom: 10px ;
    border: 3px solid red;
    min-width: 700px;
    position: relative;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;

}
/* .link{
  color: brown;
  font-size: 12px;
} */
.blog{
  border: 3px solid green;
  margin-bottom: 10px;
}

button{
  /* width: 200px;
  height: 10%;
  background-color: blue;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: large; */
  color: white;
  background-color: #1877f2;
  border: none;
  border-radius: 24px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  min-width: 250px;
  margin: 5px;

}

.btn-container{
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.edit-handler{
  position: absolute;
  right: 1%;
  top: 20px;
  /* border: 3px solid red; */
}
.text-handler{
  position: relative;
  border: 3px solid red;
  padding: 1rem;
}

.edit-button-handler{
  max-width: 150px;
}